.center {
  margin: 0 auto
}

.content {
  padding: {
    left: .5rem;
    right: .5rem;
  };
  margin: 8px auto;

  max-width: 300px;

  .m-t-8 {
    margin: {
      top: 8px;
    };
  }

  .w-full {
    width: 100%;
  }
}

.flex-spacer {
  flex-grow: 1
}

.logo {
  height: 21px;
  margin: 0 7px 2px 7px;
  vertical-align: middle;
}
